.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Css Applied */

body {
  background-color: #fefcf0;
}

.main {
  background-color: #faedcd;
  width: 40%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px #595345;
}

#quizhead {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #595345;
}

#ques {
  padding-bottom: 15px;
  color: #595345;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.options {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background-color: #fefcf0;
  color: #595345;
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  box-shadow: 5px 5px 1px #d6c8ac;

}

.options:focus {
  border: 1px solid black;
}

.options:hover {
  background-color: #d6c8ac;
  box-shadow: 5px 5px 1px #fefcf0;
}

#nextbtn {
  background-color: #d6c8ac;
  color: #595345;
  padding: 7px;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: large;
  border: none;

}

#nextbtn:hover {
  box-shadow: 5px 5px 1px #fefcf0;
}

#nextbtn:focus {
  border: 2px solid black;
}

#subbtn {
  background-color: #d6c8ac;
  color: #595345;
  padding: 7px;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: large;
  border: none;
}

#subbtn:hover {
  box-shadow: 5px 5px 1px #fefcf0;
}

#nextbtn:focus {
  border: 2px solid black;
}

